In [366]:
import pandas as pd
from datetime import datetime
import sqlite3
import json

In [367]:
assinantesAtivos = pd.read_csv("/Users/leonardooliveira/Desktop/PBI-EXAI/Projeto-BI/DadosExperimentai/AssinantesAtivos.csv", sep=",") #
assinantesCancelados = pd.read_csv("/Users/leonardooliveira/Desktop/PBI-EXAI/Projeto-BI/DadosExperimentai/AssinantesCancelados.csv", sep =',') #
base_gostos = pd.read_csv('/Users/leonardooliveira/Desktop/PBI-EXAI/Projeto-BI/DadosExperimentai/RESPOSTAS_TRATADO_FERNANDO.csv', sep=';') #
pagamentos = pd.read_csv('/Users/leonardooliveira/Desktop/PBI-EXAI/Projeto-BI/DadosExperimentai/Pagamentos.csv', sep=',') #
campanha_petisco = pd.read_csv('/Users/leonardooliveira/Desktop/PBI-EXAI/Projeto-BI/DadosExperimentai/PNRresponses.csv', sep=';') #
campanha_AHT = pd.read_csv("/Users/leonardooliveira/Desktop/PBI-EXAI/Projeto-BI/DadosExperimentai/AHTresponses.csv", sep=';') #
unified_costumers = pd.read_csv('/Users/leonardooliveira/Desktop/PBI-EXAI/Projeto-BI/DadosExperimentai/Clientes_unificado.csv', sep=',') #
coupons = pd.read_csv("/Users/leonardooliveira/Desktop/PBI-EXAI/Projeto-BI/DadosExperimentai/coupons (1).csv", sep=',') #

Tratando os gostos dos clientes

In [368]:
base_gostos.isnull().sum()

id                        0
nome                      1
sobrenome                 1
data_nascimento           1
genero                    1
ddd                       1
como_conheceu             3
data_inscricao            3
rede_social               0
email                     3
assinatura                3
id.1                      3
moda                      3
pessoa_artistica          3
maquiagem                 3
brinquedos_ou_jogos       3
esportes                  3
tem_pet                   3
decorar_casa              3
alimento_saudavel         3
gastronomia               3
carro                     3
mae_ou_pai                3
bebida_alcoolica          3
cuidados_pessoais         3
tecnologia                3
influencer                3
interesses                3
consumidor_id             3
renda_id                  3
restricoes_alimentares    3
tem_cupom                 3
objetivo_id               3
id.2                      3
cidade                    5
estado                    5
consumidor_id.1           5
bairro                    5
dtype: int64

In [369]:
base_gostos = base_gostos.dropna()

In [370]:
base_gostos.columns

Index(['id', 'nome', 'sobrenome', 'data_nascimento', 'genero', 'ddd',
       'como_conheceu', 'data_inscricao', 'rede_social', 'email', 'assinatura',
       'id.1', 'moda', 'pessoa_artistica', 'maquiagem', 'brinquedos_ou_jogos',
       'esportes', 'tem_pet', 'decorar_casa', 'alimento_saudavel',
       'gastronomia', 'carro', 'mae_ou_pai', 'bebida_alcoolica',
       'cuidados_pessoais', 'tecnologia', 'influencer', 'interesses',
       'consumidor_id', 'renda_id', 'restricoes_alimentares', 'tem_cupom',
       'objetivo_id', 'id.2', 'cidade', 'estado', 'consumidor_id.1', 'bairro'],
      dtype='object')

In [371]:
del base_gostos['id']
del base_gostos['id.2']
del base_gostos['ddd']
del base_gostos['id.1']
del base_gostos['consumidor_id.1']
del base_gostos['interesses']
del base_gostos['assinatura']
del base_gostos['consumidor_id']

In [372]:
base_gostos.head()

,nome,sobrenome,data_nascimento,genero,como_conheceu,data_inscricao,rede_social,email,moda,pessoa_artistica,...,cuidados_pessoais,tecnologia,influencer,renda_id,restricoes_alimentares,tem_cupom,objetivo_id,cidade,estado,bairro
0,Eduarda,Costa,12/05/2024,Feminino,-,2024-04-29 13:25:00.000 -0300,0,mariaeduardacostagoncalves8@gmail.com,False,True,...,True,True,False,9.0,"{""restricoes"": [8]}",False,1.0,Itaquaquecetuba,São Paulo,Jardim Nossa Senhora DAjuda
1,Olivia,Carvalho,23/04/2005,Feminino,-,2024-04-29 13:25:00.000 -0300,0,oliviaandradecontato@gmail.com,True,True,...,True,True,True,6.0,"{""restricoes"": [8]}",False,1.0,Caraguatatuba,São Paulo,Loteamento Jardim Aruan
2,Aline,Marchesotti,27/03/1990,Feminino,-,2024-04-29 13:38:00.000 -0300,1,aline.marchesotti@hotmail.com,True,True,...,True,True,False,7.0,"{""restricoes"": [6]}",False,1.0,Campinas,São Paulo,Vila Costa e Silva
3,Amanda,Pinheiro,11/11/1985,Feminino,-,2024-04-29 13:45:00.000 -0300,0,mandinhairon@gmail.com,True,True,...,True,True,True,8.0,"{""restricoes"": [8]}",False,1.0,Guarulhos,São Paulo,Vila Santo Antonio
4,Fabiana,Gomes B Chaves,08/11/1975,Feminino,-,2024-04-29 14:24:00.000 -0300,1,fotografiabiagomes@gmail.com,True,True,...,True,False,True,7.0,"{""restricoes"": [8]}",False,2.0,São Paulo,São Paulo,Chácara Inglesa

In [373]:
restricoes_map = {
    1: "Lactose",
    2: "Glúten",
    3: "Soja",
    4: "Ovo",
    5: "Amendoim",
    6: "Vegetarianismo",
    7: "Veganismo",
    8: "Não tenho restrição",
    9: "Outro"
}

objetivo_map = {
    1: "Quero dar a minha opinião sobre produtos",
    2: "Quero descobrir novos produtos para comprar"
}

faixa_renda_map = {
    6: "R$0 - 3.000",
    7: "R$3.000 - 8.000",
    8: "R$8.000 - 16.000",
    9: "R$16.000 - 24.000",
    10: "Superior a R$24.000"
}

# Transformação da coluna 'restricoes_alimentares' usando JSON e o mapeamento
base_gostos['restricoes_alimentares'] = base_gostos['restricoes_alimentares'].apply(
    lambda x: ", ".join([restricoes_map[id_] for id_ in json.loads(x)["restricoes"]]) 
    if pd.notnull(x) and x.startswith("{") else x
)

# Transformação das colunas 'objetivo' e 'faixa_renda' usando o .loc
base_gostos.loc[base_gostos['objetivo_id'].notnull(), 'objetivo_id'] = base_gostos['objetivo_id'].map(objetivo_map)
base_gostos.loc[base_gostos['renda_id'].notnull(), 'renda_id'] = base_gostos['renda_id'].map(faixa_renda_map)

/var/folders/cl/r3_tlbnx4rj_mp_b2b1gc4f40000gn/T/ipykernel_70401/3842484211.py:33: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '['Quero dar a minha opinião sobre produtos'
 'Quero dar a minha opinião sobre produtos'
 'Quero dar a minha opinião sobre produtos' ...
 'Quero descobrir novos produtos para comprar'
 'Quero dar a minha opinião sobre produtos'
 'Quero dar a minha opinião sobre produtos']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  base_gostos.loc[base_gostos['objetivo_id'].notnull(), 'objetivo_id'] = base_gostos['objetivo_id'].map(objetivo_map)
/var/folders/cl/r3_tlbnx4rj_mp_b2b1gc4f40000gn/T/ipykernel_70401/3842484211.py:34: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '['R$16.000 - 24.000' 'R$0 - 3.000' 'R$3.000 - 8.000' ...
 'R$8.000 - 16.000' 'R$8.000 - 16.000' 'R$8.000 - 16.000']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  base_gostos.loc[base_gostos['renda_id'].notnull(), 'renda_id'] = base_gostos['renda_id'].map(faixa_renda_map)

In [374]:
base_gostos['data_nascimento'] = pd.to_datetime(base_gostos['data_nascimento'], format='%d/%m/%Y', errors='coerce')

# Calcular a idade com base na data atual
today = datetime.now()
base_gostos['idade'] =  base_gostos['data_nascimento'].apply(lambda x: today.year - x.year - ((today.month, today.day) < (x.month, x.day)) if pd.notnull(x) else None)

In [375]:
bins = [0, 19, 59, 120]  # Limites de idade para Jovens, Adultos e Idosos
labels = ["Jovens", "Adultos", "Idosos"]  # Rótulos para as faixas etárias

# Criar a coluna 'faixa_etaria' com as faixas etárias
base_gostos['faixa_etaria'] = pd.cut(base_gostos['idade'], bins=bins, labels=labels, right=True)

In [376]:
# Manter apenas as colunas necessárias para identificar assinantes
assinantesAtivos.rename(columns={'Customer Email': 'email'}, inplace=True)
assinantesAtivos = assinantesAtivos[['email', 'Status']]
assinantesAtivos['assinantes'] = assinantesAtivos['Status'].apply(lambda x: 1 if x == 'active' else 0)
assinantesAtivos = assinantesAtivos[['email', 'assinantes']]
base_nova = pd.merge(base_gostos, assinantesAtivos, on="email", how="left")

In [377]:
base_nova['assinantes'] = base_nova['assinantes'].apply(lambda x: 1 if pd.notnull(x) else 0)

In [378]:
base_nova.columns

Index(['nome', 'sobrenome', 'data_nascimento', 'genero', 'como_conheceu',
       'data_inscricao', 'rede_social', 'email', 'moda', 'pessoa_artistica',
       'maquiagem', 'brinquedos_ou_jogos', 'esportes', 'tem_pet',
       'decorar_casa', 'alimento_saudavel', 'gastronomia', 'carro',
       'mae_ou_pai', 'bebida_alcoolica', 'cuidados_pessoais', 'tecnologia',
       'influencer', 'renda_id', 'restricoes_alimentares', 'tem_cupom',
       'objetivo_id', 'cidade', 'estado', 'bairro', 'idade', 'faixa_etaria',
       'assinantes'],
      dtype='object')

Tratamento dos assinantes

In [379]:
assinantesAtivos = pd.read_csv("/Users/leonardooliveira/Desktop/PBI-EXAI/Projeto-BI/DadosExperimentai/AssinantesAtivos.csv", sep=",")
assinantesAtivos.columns

Index(['Customer ID', 'Customer Email', 'Plan', 'Quantity', 'Interval',
       'Amount', 'Status', 'Created (UTC)', 'Start Date (UTC)',
       'Current Period Start (UTC)', 'Current Period End (UTC)', 'Coupon',
       'Tax Percent', 'Canceled At (UTC)'],
      dtype='object')

In [380]:
assinantesAtivos.head()

,Customer ID,Customer Email,Plan,Quantity,Interval,Amount,Status,Created (UTC),Start Date (UTC),Current Period Start (UTC),Current Period End (UTC),Coupon,Tax Percent,Canceled At (UTC)
0,cus_RC1UzB1huhrZ4X,lionbranco@gmail.com,price_1QAG2iHsrWBJzFX2pWrky42a,1,month,59.9,active,2024-11-10 15:52,2024-11-10 15:52,2024-11-10 15:52,2024-12-10 15:52,NaN,NaN,NaN
1,cus_RC0ijbOaql9B2c,andressa21a@live.com,price_1QAG2iHsrWBJzFX2pWrky42a,1,month,59.9,active,2024-11-10 15:05,2024-11-10 15:05,2024-11-10 15:05,2024-12-10 15:05,NaN,NaN,NaN
2,cus_RBzVjVhlJtx5WQ,natholiveirar03@gmail.com,price_1QAG2iHsrWBJzFX2pWrky42a,1,month,59.9,active,2024-11-10 13:49,2024-11-10 13:49,2024-11-10 13:49,2024-12-10 13:49,NaN,NaN,NaN
3,cus_RBwHefgWZtgleQ,sabrinascandolararp@gmail.com,price_1QAG2iHsrWBJzFX2pWrky42a,1,month,59.9,active,2024-11-10 10:30,2024-11-10 10:30,2024-11-10 10:30,2024-12-10 10:30,NaN,NaN,NaN
4,cus_RBqYJB57nElUiu,joyce_p_almeida@hotmail.com,price_1QAG2iHsrWBJzFX2pWrky42a,1,month,59.9,active,2024-11-10 04:34,2024-11-10 04:34,2024-11-10 04:34,2024-12-10 04:34,NaN,NaN,NaN

In [381]:
del assinantesAtivos['Tax Percent']

In [382]:
assinantesAtivos['Coupon'] = assinantesAtivos['Coupon'].fillna('-')
assinantesAtivos['Canceled At (UTC)']=assinantesAtivos['Canceled At (UTC)'].fillna('N/a')

In [383]:
assinantesAtivos.columns

Index(['Customer ID', 'Customer Email', 'Plan', 'Quantity', 'Interval',
       'Amount', 'Status', 'Created (UTC)', 'Start Date (UTC)',
       'Current Period Start (UTC)', 'Current Period End (UTC)', 'Coupon',
       'Canceled At (UTC)'],
      dtype='object')

In [384]:
assinantesCancelados.columns

Index(['Customer ID', 'Customer Email', 'Plan', 'Quantity', 'Interval',
       'Amount', 'Status', 'Created (UTC)', 'Start Date (UTC)',
       'Current Period Start (UTC)', 'Current Period End (UTC)', 'Coupon',
       'Tax Percent', 'Canceled At (UTC)', 'Ended At (UTC)', 'Customer Name'],
      dtype='object')

In [385]:
del assinantesCancelados['Customer Name']
del assinantesCancelados['Tax Percent']

In [386]:
assinantesTotal = pd.concat([assinantesAtivos, assinantesCancelados], ignore_index=True)

In [387]:
assinantesTotal.columns

Index(['Customer ID', 'Customer Email', 'Plan', 'Quantity', 'Interval',
       'Amount', 'Status', 'Created (UTC)', 'Start Date (UTC)',
       'Current Period Start (UTC)', 'Current Period End (UTC)', 'Coupon',
       'Canceled At (UTC)', 'Ended At (UTC)'],
      dtype='object')

Tratamento da base de Pagamentos

In [388]:
pagamentos.columns

Index(['Created date (UTC)', 'Amount', 'Amount Refunded', 'Decline Reason',
       'Description', 'Refunded date (UTC)', 'Statement Descriptor', 'Status',
       'Seller Message', 'Taxes On Fee', 'Card ID', 'Customer ID',
       'Shipping Address City', 'Shipping Address State', 'Invoice ID'],
      dtype='object')

In [389]:
pagamentos.head(5)

,Created date (UTC),Amount,Amount Refunded,Decline Reason,Description,Refunded date (UTC),Statement Descriptor,Status,Seller Message,Taxes On Fee,Card ID,Customer ID,Shipping Address City,Shipping Address State,Invoice ID
0,2024-11-10 19:37:12,49.0,0.0,NaN,Subscription update,NaN,EXPERIMENTAI,Paid,Payment complete.,0.0,pm_1PxYwaHsrWBJzFX21F322Mdg,cus_QpDMIwnCIbNe0W,São Paulo,SP,in_1QJg0NHsrWBJzFX23wMLF0WJ
1,2024-11-10 19:21:04,49.0,0.0,transaction_not_allowed,Subscription update,NaN,EXPERIMENTAI,Failed,The bank returned the decline code `transactio...,0.0,pm_1Q8QxQHsrWBJzFX2CiFGK7MA,cus_R0RriBqyRRbbzU,Rio de Janeiro,RJ,in_1QJfk1HsrWBJzFX2TjmDMtMq
2,2024-11-10 18:55:01,49.0,0.0,NaN,Subscription update,NaN,EXPERIMENTAI,Paid,Payment complete.,0.0,pm_1QJgHTHsrWBJzFX2E6oeElz8,cus_R03BoF4GDm57su,Vitória,ES,in_1QJHrAHsrWBJzFX2vJE6m8UI
3,2024-11-10 18:41:26,49.0,0.0,NaN,Subscription update,NaN,EXPERIMENTAI,Paid,Payment complete.,0.0,pm_1QJg4fHsrWBJzFX2srLKP5AX,cus_Qy8mvAX7Nrrdfx,Gov. Valadares,MG,in_1QHRHzHsrWBJzFX2K8cyiYRh
4,2024-11-10 18:34:13,32.0,0.0,NaN,Subscription update,NaN,EXPERIMENTAI,Paid,Payment complete.,0.0,pm_1PQC5WHsrWBJzFX2LFAJIcHW,cus_QGjYBIgunKs57j,MairiporÃ,SP,in_1QJf1KHsrWBJzFX2xrVxqvuL

In [390]:
pagamentos['Decline Reason'] = pagamentos['Decline Reason'].fillna('-')
pagamentos['Refunded date (UTC)'] =pagamentos['Refunded date (UTC)'].fillna("N/a")
pagamentos['Amount Refunded']=pagamentos['Amount Refunded'].fillna(0)
pagamentos['Statement Descriptor']=pagamentos['Statement Descriptor'].fillna("-")
pagamentos['Seller Message']=pagamentos['Seller Message'].fillna('-')

In [391]:
del pagamentos['Taxes On Fee']
del pagamentos['Card ID']
del pagamentos['Customer ID']
del pagamentos['Invoice ID']

In [392]:
pagamentos.isnull().sum()

Created date (UTC)         0
Amount                     0
Amount Refunded            0
Decline Reason             0
Description                6
Refunded date (UTC)        0
Statement Descriptor       0
Status                     0
Seller Message             0
Shipping Address City     10
Shipping Address State    11
dtype: int64

In [393]:
pagamentos = pagamentos.dropna()

Tratamento das bases de campanha

In [394]:
campanha_AHT.head(5)

,já_conhecia,nota,intencao_compra,onde_gcomprar,quanto_pagaria,trocar_bebida_por_aht,recomendar_aht,nome,email,idade,genero,renda,bebida,gastronomia,moda,maquiagem,esporte
0,1,5,Certamente compraria,No mercado e na cunha gago,10,O sabor leve e não ter gás,10,primeira dama da experimentai,flaviaferraresi3003@gmail.com,20,Feminino,'+ R$24.000,1,0,1,1,1
1,0,5,Certamente compraria,Nos supermercados,7,Maior facilidade no acesso,9,Gabriel,bieldurigan@gmail.com,22,Masculino,R$8.000 - 16.000,1,1,0,0,1
2,1,5,Certamente compraria,Mercado,7,Vodka,10,Giovanna,giovannamaruyama22@gmail.com,20,Feminino,R$16.000 - 24.000,0,0,0,0,1
3,0,3,"Talvez comprasse, talvez não comprasse",Nao,6,Nada,4,Rafaela,Oliviabrait@gmail.com,20,Feminino,R$0 - 3.000,0,0,0,1,0
4,0,4,Certamente não compraria,No mercado e no oxxo,5,"Nada, nao bebo",6,Pedro mano,Pedropacmano@gmail.com,22,Masculino,R$0 - 3.000,0,1,0,0,1

In [395]:
campanha_AHT.isnull().sum()

já_conhecia              0
nota                     0
intencao_compra          0
onde_gcomprar            0
quanto_pagaria           0
trocar_bebida_por_aht    0
recomendar_aht           0
nome                     0
email                    0
idade                    0
genero                   0
renda                    0
bebida                   0
gastronomia              0
moda                     0
maquiagem                0
esporte                  0
dtype: int64

In [396]:
campanha_petisco.columns

Index(['#', 'Seu pet, que provou o snack, é um cão ou um gato?', 'Other',
       'Você já conhecia esse produto?',
       'Você já conhecia a loja Pet na Rotina?',
       'Como você descreveria a reação do seu pet ao experimentar o petisco?',
       'Você achou o tamanho do petisco adequado para seu pet?',
       'Qual é o principal motivo pelo qual você dá petiscos ao seu pet?',
       'Qual é a sua principal fonte de informação sobre novos produtos para pets?',
       'O que mais te atrai em uma promoção de produtos para pets?',
       'Como você avalia a relação custo-benefício dos produtos que você encontra na Pet na Rotina?',
       'Onde você normalmente compra petiscos para seu pet?',
       'Quando você compra online, qual é o fator mais importante para você?',
       'Quanto você costuma gastar por mês em petiscos para seu pet?',
       'Você está disposto a pagar mais por produtos de alta qualidade e ingredientes naturais?',
       'Qual é o principal motivo que faria você mudar de fornecedor de petiscos e brinquedos para seu cachorro?',
       'Considerando o preço de R$ 28,47 por um pacote de 60g, você compraria esse produto?',
       'Com que frequência você costuma dar petiscos ao seu pet?',
       'Quais são os fatores mais importantes para você ao escolher um petisco?',
       'Na sua próxima compra, qual a melhor opção que traduz sua intenção de comprar o produto?',
       'Por favor, informe seu e-mail',
       'Ao prosseguir você afirma que leu e está de acordo com o Aviso de Privacidade e Termos de Uso da Experimentaí.',
       'name', 'Response Type', 'Start Date (UTC)', 'Stage Date (UTC)',
       'Submit Date (UTC)', 'Network ID', 'Tags'],
      dtype='object')

In [397]:
campanha_petisco.head(5)

,#,"Seu pet, que provou o snack, é um cão ou um gato?",Other,Você já conhecia esse produto?,Você já conhecia a loja Pet na Rotina?,Como você descreveria a reação do seu pet ao experimentar o petisco?,Você achou o tamanho do petisco adequado para seu pet?,Qual é o principal motivo pelo qual você dá petiscos ao seu pet?,Qual é a sua principal fonte de informação sobre novos produtos para pets?,O que mais te atrai em uma promoção de produtos para pets?,...,"Na sua próxima compra, qual a melhor opção que traduz sua intenção de comprar o produto?","Por favor, informe seu e-mail",Ao prosseguir você afirma que leu e está de acordo com o Aviso de Privacidade e Termos de Uso da Experimentaí.,name,Response Type,Start Date (UTC),Stage Date (UTC),Submit Date (UTC),Network ID,Tags
0,hjcz3rirfvn0udlf1rvhjcz39g4rkglj,Cão,NaN,1,0,Animado,Adequado,Recompensa,Redes sociais,Produtos adicionais grátis,...,Provavelmente compraria,mariina.souza@hotmail.com,Eu li e estou de acordo,xxxxx,completed,2024-10-17 21:32:11,NaN,2024-10-17 21:35:09,1929f4a04f,NaN
1,niydt2h6dpowt8g3hniydt25vcym02pr,Gato,NaN,0,0,Animado,Adequado,Saúde dental,Redes sociais,Produtos adicionais grátis,...,Provavelmente compraria,lais10cristina@hotmail.com,Eu li e estou de acordo,xxxxx,completed,2024-10-16 14:38:57,NaN,2024-10-16 14:41:10,2eb1289745,NaN
2,h9mylmpv08vet5uwy20aawh9mylmpvct,Cão,NaN,0,0,Muito animado,Adequado,Entretenimento,Sites de reviews,Desconto no preço,...,"Talvez comprasse, talvez não",brunac.villela@gmail.com,Eu li e estou de acordo,xxxxx,completed,2024-10-14 01:57:20,NaN,2024-10-14 02:11:57,ebca20212f,NaN
3,0m9nuyiyxpdouky3c0m9ncyjuwsi6l8k,Cão,NaN,0,0,Muito animado,Adequado,Entretenimento,Redes sociais,Produtos adicionais grátis,...,"Talvez comprasse, talvez não",nutricarolguimaraees@gmail.com,Eu li e estou de acordo,xxxxx,completed,2024-10-14 00:48:31,NaN,2024-10-14 00:50:54,d1328cad9f,NaN
4,nx01fnxckmps4mld3x2hnx01fnx29aom,Gato,NaN,0,0,Indiferente,Muito grande,Recompensa,Redes sociais,Desconto no preço,...,"Talvez comprasse, talvez não",thami.vet@gmail.com,Eu li e estou de acordo,xxxxx,completed,2024-10-13 23:41:50,NaN,2024-10-13 23:44:20,c5231d304f,NaN

In [398]:
# Dicionário para renomear as colunas
colunas_renomear = {
    '#': 'id',
    'Seu pet, que provou o snack, é um cão ou um gato?': 'tipo_pet',
    'Você já conhecia esse produto?': 'conhecia_produto',
    'Você já conhecia a loja Pet na Rotina?': 'conhecia_loja',
    'Como você descreveria a reação do seu pet ao experimentar o petisco?': 'reacao_petisco',
    'Você achou o tamanho do petisco adequado para seu pet?': 'tamanho_adequado',
    'Qual é o principal motivo pelo qual você dá petiscos ao seu pet?': 'motivo_petiscos',
    'Qual é a sua principal fonte de informação sobre novos produtos para pets?': 'fonte_informacao',
    'O que mais te atrai em uma promoção de produtos para pets?': 'atracao_promocao',
    'Como você avalia a relação custo-benefício dos produtos que você encontra na Pet na Rotina?': 'avaliacao_custo_beneficio',
    'Onde você normalmente compra petiscos para seu pet?': 'local_compra',
    'Quando você compra online, qual é o fator mais importante para você?': 'fator_importante_online',
    'Quanto você costuma gastar por mês em petiscos para seu pet?': 'gasto_mensal_petiscos',
    'Você está disposto a pagar mais por produtos de alta qualidade e ingredientes naturais?': 'disposicao_pagar_mais',
    'Qual é o principal motivo que faria você mudar de fornecedor de petiscos e brinquedos para seu cachorro?': 'motivo_troca_fornecedor',
    'Considerando o preço de R$ 28,47 por um pacote de 60g, você compraria esse produto?': 'compraria_produto',
    'Com que frequência você costuma dar petiscos ao seu pet?': 'frequencia_petiscos',
    'Quais são os fatores mais importantes para você ao escolher um petisco?': 'fatores_importantes_petisco',
    'Na sua próxima compra, qual a melhor opção que traduz sua intenção de comprar o produto?': 'intencao_compra'
}

# Renomear as colunas
campanha_petisco.rename(columns=colunas_renomear, inplace=True)

# Colunas a serem removidas
colunas_remover = [
    'Other',
    'Por favor, informe seu e-mail',
    'Ao prosseguir você afirma que leu e está de acordo com o Aviso de Privacidade e Termos de Uso da Experimentaí.',
    'name',
    'Response Type',
    'Start Date (UTC)',
    'Stage Date (UTC)'
]

# Remover as colunas desnecessárias
campanha_petisco.drop(columns=colunas_remover, inplace=True, errors='ignore')

tratamento de unified_costumers

In [399]:
unified_costumers.isnull().sum()

id                         2
Description             1607
Email                      0
Created (UTC)              0
Plan                     485
Status                   485
Cancel At Period End     485
Total Spend                0
Payment Count              0
Refunded Volume            0
Dispute Losses             0
dtype: int64

In [400]:
contagem_payment = unified_costumers.value_counts('Payment Count')
contagem_dispute = unified_costumers.value_counts('Dispute Losses')
contagem_ref = unified_costumers.value_counts('Refunded Volume')

In [401]:

excluir_linhas=unified_costumers[unified_costumers["Dispute Losses"]!= 0].index
unified_costumers=unified_costumers.drop(excluir_linhas)

In [402]:
del unified_costumers['Description']
del unified_costumers['id']
del unified_costumers['Dispute Losses']

In [403]:
unified_costumers = unified_costumers.dropna()

In [404]:
################################################################################################################################################

In [405]:
# Subtabelas para unified_costumers
dim_unified_customers = unified_costumers[[
    'Email', 'Plan', 'Status', 'Total Spend', 'Payment Count', 'Refunded Volume'
]]
dim_unified_customers['id_unified'] = range(1, len(dim_unified_customers) + 1)

# Subtabelas para pagamentos
dim_pagamentos = pagamentos[[
    'Created date (UTC)', 'Amount', 'Amount Refunded', 'Status', 'Shipping Address City', 'Shipping Address State'
]]
dim_pagamentos['id_pagamento'] = range(1, len(dim_pagamentos) + 1)

# Subtabelas para coupons
dim_coupons = coupons[['id', 'Valid', 'Duration', 'Percent Off', 'Amount Off']]
dim_coupons['id_cupom'] = range(1, len(dim_coupons) + 1)

/var/folders/cl/r3_tlbnx4rj_mp_b2b1gc4f40000gn/T/ipykernel_70401/388476842.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dim_unified_customers['id_unified'] = range(1, len(dim_unified_customers) + 1)
/var/folders/cl/r3_tlbnx4rj_mp_b2b1gc4f40000gn/T/ipykernel_70401/388476842.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dim_pagamentos['id_pagamento'] = range(1, len(dim_pagamentos) + 1)
/var/folders/cl/r3_tlbnx4rj_mp_b2b1gc4f40000gn/T/ipykernel_70401/388476842.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dim_coupons['id_cupom'] = range(1, len(dim_coupons) + 1)

#################################################################################################################################################
                                            INGESTAO DA TABELA FATO DE GOSTOS - BASE NOVA
#################################################################################################################################################

In [406]:
base_nova['id_demografico_base'] = range(1, len(base_nova) + 1)
base_nova['id_gosto_base'] = range(1, len(base_nova) + 1)
base_nova['id_fato_base'] = range(1, len(base_nova) + 1)

In [407]:


# 2. Dividir a tabela em dimensões e fato
dim_demografico_cliente= base_nova[[
    'id_demografico_base', 'nome', 'sobrenome', 'data_nascimento', 'genero',
    'cidade', 'estado', 'bairro', 'idade', 'faixa_etaria'
]]


dim_gosto_cliente = base_nova[[
    'id_gosto_base', 'moda', 'pessoa_artistica', 'maquiagem', 'brinquedos_ou_jogos', 
    'esportes', 'tem_pet', 'decorar_casa', 'alimento_saudavel', 'gastronomia', 
    'carro', 'bebida_alcoolica', 'cuidados_pessoais', 'tecnologia', 
    'mae_ou_pai', 'influencer', 'restricoes_alimentares',
]]

fato_cliente = base_nova[[
    'id_fato_base', 'id_demografico_base', 'id_gosto_base', 'data_inscricao', 
    'rede_social', 'renda_id', 'objetivo_id', 'tem_cupom',  'assinantes'
]]
fato_cliente.rename(columns={'renda_id':'faixa_renda', 'objetivo_id': 'objetivo'}, inplace=True)

# 4. Conectar ao banco de dados SQLite
db_path = "Experimentai.db"
conn = sqlite3.connect(db_path)

# 5. Criar as tabelas no banco
cursor = conn.cursor()

cursor.execute('''
CREATE TABLE IF NOT EXISTS dim_demografico_cliente (
    id_demografico_base INTEGER PRIMARY KEY,
    nome TEXT,
    sobrenome TEXT,
    data_nascimento TEXT,
    genero TEXT,
    cidade TEXT,
    estado TEXT,
    bairro TEXT,
    idade INTEGER,
    faixa_etaria TEXT
);
''')

cursor.execute('''
CREATE TABLE IF NOT EXISTS dim_gosto_cliente (
    id_gosto_base INTEGER PRIMARY KEY,
    moda BOOLEAN,
    pessoa_artistica BOOLEAN,
    maquiagem BOOLEAN,
    brinquedos_ou_jogos BOOLEAN,
    esportes BOOLEAN,
    tem_pet BOOLEAN,
    decorar_casa BOOLEAN,
    alimento_saudavel BOOLEAN,
    gastronomia BOOLEAN,
    carro BOOLEAN,
    bebida_alcoolica BOOLEAN,
    cuidados_pessoais BOOLEAN,
    tecnologia BOOLEAN,
    mae_ou_pai BOOLEAN,
    influencer BOOLEAN,
    restricoes_alimentares BOOLEAN
);
''')

cursor.execute('''
CREATE TABLE IF NOT EXISTS fato_cliente (
    id_fato_base INTEGER PRIMARY KEY,
    id_demografico_base INTEGER,
    id_gosto_base INTEGER,
    data_inscricao TEXT,
    rede_social TEXT,
    faixa_renda VARCHAR(20),
    objetivo VARCHAR(30),
    tem_cupom BOOLEAN,
    assinantes BOOLEAN,
    FOREIGN KEY(id_demografico_base) REFERENCES dim_demografico_cliente(id_demografico_base),
    FOREIGN KEY(id_gosto_base) REFERENCES dim_gosto_cliente(id_gosto_base)
);
''')

# 6. Inserir os dados nas tabelas
dim_demografico_cliente.to_sql('dim_demografico_cliente', conn, if_exists='append', index=False)
dim_gosto_cliente.to_sql('dim_gosto_cliente', conn, if_exists='append', index=False)
fato_cliente.to_sql('fato_cliente', conn, if_exists='append', index=False)

# Fechar a conexão
conn.commit()
conn.close()

print("Modelo estrela para fato_base_nova foi criado e os dados foram inseridos com sucesso!")

Modelo estrela para fato_base_nova foi criado e os dados foram inseridos com sucesso!

/var/folders/cl/r3_tlbnx4rj_mp_b2b1gc4f40000gn/T/ipykernel_70401/4197632578.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fato_cliente.rename(columns={'renda_id':'faixa_renda', 'objetivo_id': 'objetivo'}, inplace=True)

In [408]:
# Criar IDs únicos diretamente na tabela original
assinantesTotal['id_demografico_assinantes'] = range(1, len(assinantesTotal) + 1)
assinantesTotal['id_fato_assinantes'] = range(1, len(assinantesTotal) + 1)

# Ajustar os nomes das colunas para a dimensão demográfica
dim_demografico_assinantes = assinantesTotal[[
    'id_demografico_assinantes', 'Customer ID', 'Customer Email', 
    'Plan', 'Quantity', 'Interval', 'Start Date (UTC)', 'Status'
]].rename(columns={
    'Customer ID': 'customer_id',
    'Customer Email': 'customer_email',
    'Plan': 'plan',
    'Quantity': 'quantity',
    'Interval': 'interval',
    'Start Date (UTC)': 'start_date_utc',
    'Status': 'status'
})

# Ajustar os nomes das colunas para a tabela fato
fato_assinantes = assinantesTotal[[
    'id_fato_assinantes', 'id_demografico_assinantes', 
    'Amount', 'Created (UTC)', 'Current Period Start (UTC)', 
    'Current Period End (UTC)', 'Coupon', 'Canceled At (UTC)', 'Ended At (UTC)'
]].rename(columns={
    'Amount': 'amount',
    'Created (UTC)': 'created_utc',
    'Current Period Start (UTC)': 'current_period_start_utc',
    'Current Period End (UTC)': 'current_period_end_utc',
    'Coupon': 'coupon',
    'Canceled At (UTC)': 'canceled_at_utc',
    'Ended At (UTC)': 'ended_at_utc'
})

# Conectar ao banco de dados SQLite
db_path = 'Experimentai.db'
conn = sqlite3.connect(db_path)
cursor = conn.cursor()

# Criar tabelas no banco de dados
cursor.execute('''
CREATE TABLE IF NOT EXISTS dim_demografico_assinantes (
    id_demografico_assinantes INTEGER PRIMARY KEY,
    customer_id TEXT,
    customer_email TEXT,
    plan TEXT,
    quantity INTEGER,
    interval TEXT,
    start_date_utc TEXT,
    status TEXT
);
''')

cursor.execute('''
CREATE TABLE IF NOT EXISTS fato_assinantes (
    id_fato_assinantes INTEGER PRIMARY KEY,
    id_demografico_assinantes INTEGER,
    amount REAL,
    created_utc TEXT,
    current_period_start_utc TEXT,
    current_period_end_utc TEXT,
    coupon TEXT,
    canceled_at_utc TEXT,
    ended_at_utc TEXT,
    FOREIGN KEY(id_demografico_assinantes) REFERENCES dim_demografico_assinantes(id_demografico_assinantes)
);
''')

# Inserir os dados nas tabelas
dim_demografico_assinantes.to_sql('dim_demografico_assinantes', conn, if_exists='append', index=False)
fato_assinantes.to_sql('fato_assinantes', conn, if_exists='append', index=False)

# Fechar a conexão com o banco de dados
conn.commit()
conn.close()

print("Tabelas dim_demografico_assinantes e fato_assinantes criadas e populadas com sucesso!")

Tabelas dim_demografico_assinantes e fato_assinantes criadas e populadas com sucesso!

In [409]:
# Criar IDs únicos diretamente na tabela original
campanha_AHT['id_demografico_aht'] = range(1, len(campanha_AHT) + 1)
campanha_AHT['id_gosto_aht'] = range(1, len(campanha_AHT) + 1)
campanha_AHT['id_fato_aht'] = range(1, len(campanha_AHT) + 1)

# Dividir os dados em tabelas de dimensão e fato
dim_demografico_aht = campanha_AHT[[
    'id_demografico_aht', 'nome', 'email', 'idade', 'genero', 'renda'
]].rename(columns={
    'nome': 'nome',
    'email': 'email',
    'idade': 'idade',
    'genero': 'genero',
    'renda': 'renda'
})

dim_gosto_aht = campanha_AHT[[
    'id_gosto_aht', 'bebida', 'gastronomia', 'moda', 'maquiagem', 'esporte'
]].rename(columns={
    'bebida': 'bebida',
    'gastronomia': 'gastronomia',
    'moda': 'moda',
    'maquiagem': 'maquiagem',
    'esporte': 'esporte'
})

fato_aht = campanha_AHT[[
    'id_fato_aht', 'id_demografico_aht', 'id_gosto_aht',
    'já_conhecia', 'nota', 'intencao_compra', 'onde_gcomprar', 'quanto_pagaria',
    'trocar_bebida_por_aht', 'recomendar_aht'
]].rename(columns={
    'já_conhecia': 'ja_conhecia',
    'nota': 'nota',
    'intencao_compra': 'intencao_compra',
    'onde_gcomprar': 'onde_gcomprar',
    'quanto_pagaria': 'quanto_pagaria',
    'trocar_bebida_por_aht': 'trocar_bebida_por_aht',
    'recomendar_aht': 'recomendar_aht'
})

# Conectar ao banco de dados SQLite
db_path = 'Experimentai.db'
conn = sqlite3.connect(db_path)
cursor = conn.cursor()

# Criar tabelas no banco de dados
cursor.execute('''
CREATE TABLE IF NOT EXISTS dim_demografico_aht (
    id_demografico_aht INTEGER PRIMARY KEY,
    nome TEXT,
    email TEXT,
    idade INTEGER,
    genero TEXT,
    renda TEXT
);
''')

cursor.execute('''
CREATE TABLE IF NOT EXISTS dim_gosto_aht (
    id_gosto_aht INTEGER PRIMARY KEY,
    bebida BOOLEAN,
    gastronomia BOOLEAN,
    moda BOOLEAN,
    maquiagem BOOLEAN,
    esporte BOOLEAN
);
''')

cursor.execute('''
CREATE TABLE IF NOT EXISTS fato_aht (
    id_fato_aht INTEGER PRIMARY KEY,
    id_demografico_aht INTEGER,
    id_gosto_aht INTEGER,
    ja_conhecia BOOLEAN,
    nota INTEGER,
    intencao_compra TEXT,
    onde_gcomprar TEXT,
    quanto_pagaria REAL,
    trocar_bebida_por_aht BOOLEAN,
    recomendar_aht BOOLEAN,
    FOREIGN KEY(id_demografico_aht) REFERENCES dim_demografico_aht(id_demografico_aht),
    FOREIGN KEY(id_gosto_aht) REFERENCES dim_gosto_aht(id_gosto_aht)
);
''')

# Inserir os dados nas tabelas
dim_demografico_aht.to_sql('dim_demografico_aht', conn, if_exists='append', index=False)
dim_gosto_aht.to_sql('dim_gosto_aht', conn, if_exists='append', index=False)
fato_aht.to_sql('fato_aht', conn, if_exists='append', index=False)

# Fechar a conexão com o banco de dados
conn.commit()
conn.close()

print("Tabelas dim_demografico_aht, dim_gosto_aht e fato_aht criadas e populadas com sucesso!")

Tabelas dim_demografico_aht, dim_gosto_aht e fato_aht criadas e populadas com sucesso!

In [410]:
# Criar IDs únicos diretamente na tabela original
campanha_petisco['id_demografico_petisco'] = range(1, len(campanha_petisco) + 1)
campanha_petisco['id_fato_petisco'] = range(1, len(campanha_petisco) + 1)

# Dividir os dados em tabelas de dimensão e fato
dim_demografico_petisco = campanha_petisco[[
    'id_demografico_petisco', 'id', 'tipo_pet'
]].rename(columns={
    'id': 'id_petisco',
    'tipo_pet': 'tipo_pet'
})

fato_petisco = campanha_petisco[[
    'id_fato_petisco', 'id_demografico_petisco',
    'conhecia_produto', 'tamanho_adequado', 'motivo_petiscos',
    'avaliacao_custo_beneficio', 'gasto_mensal_petiscos',
    'disposicao_pagar_mais', 'frequencia_petiscos', 'intencao_compra'
]].rename(columns={
    'conhecia_produto': 'conhecia_produto',
    'tamanho_adequado': 'tamanho_adequado',
    'motivo_petiscos': 'motivo_petiscos',
    'avaliacao_custo_beneficio': 'avaliacao_custo_beneficio',
    'gasto_mensal_petiscos': 'gasto_mensal_petiscos',
    'disposicao_pagar_mais': 'disposicao_pagar_mais',
    'frequencia_petiscos': 'frequencia_petiscos',
    'intencao_compra': 'intencao_compra'
})

# Conectar ao banco de dados SQLite
db_path = 'Experimentai.db'
conn = sqlite3.connect(db_path)
cursor = conn.cursor()

# Criar tabelas no banco de dados
cursor.execute('''
CREATE TABLE IF NOT EXISTS dim_demografico_petisco (
    id_demografico_petisco INTEGER PRIMARY KEY,
    id_petisco INTEGER,
    tipo_pet TEXT
);
''')

cursor.execute('''
CREATE TABLE IF NOT EXISTS fato_petisco (
    id_fato_petisco INTEGER PRIMARY KEY,
    id_demografico_petisco INTEGER,
    conhecia_produto TEXT,
    tamanho_adequado TEXT,
    motivo_petiscos TEXT,
    avaliacao_custo_beneficio TEXT,
    gasto_mensal_petiscos REAL,
    disposicao_pagar_mais TEXT,
    frequencia_petiscos TEXT,
    intencao_compra TEXT,
    FOREIGN KEY(id_demografico_petisco) REFERENCES dim_demografico_petisco(id_demografico_petisco)
);
''')

# Inserir os dados nas tabelas
dim_demografico_petisco.to_sql('dim_demografico_petisco', conn, if_exists='append', index=False)
fato_petisco.to_sql('fato_petisco', conn, if_exists='append', index=False)

# Fechar a conexão com o banco de dados
conn.commit()
conn.close()

print("Tabelas dim_demografico_petisco e fato_petisco criadas e populadas com sucesso!")

Tabelas dim_demografico_petisco e fato_petisco criadas e populadas com sucesso!

In [411]:
# Criar IDs únicos diretamente na tabela original
assinantesTotal['id_demografico_assinantes'] = range(1, len(assinantesTotal) + 1)
assinantesTotal['id_fato_assinantes'] = range(1, len(assinantesTotal) + 1)

# Dividir os dados em tabelas dimensões e fato
dim_demografico_assinantes = assinantesTotal[[
    'id_demografico_assinantes', 'Customer ID', 'Customer Email', 
    'Plan', 'Quantity', 'Interval', 'Start Date (UTC)', 'Status'
]].rename(columns={
    'Customer ID': 'customer_id',
    'Customer Email': 'customer_email',
    'Plan': 'plan',
    'Quantity': 'quantity',
    'Interval': 'interval',
    'Start Date (UTC)': 'start_date_utc',
    'Status': 'status'
})

fato_assinantes = assinantesTotal[[
    'id_fato_assinantes', 'id_demografico_assinantes', 
    'Amount', 'Created (UTC)', 'Current Period Start (UTC)', 
    'Current Period End (UTC)', 'Coupon', 'Canceled At (UTC)', 'Ended At (UTC)'
]].rename(columns={
    'Amount': 'amount',
    'Created (UTC)': 'created_utc',
    'Current Period Start (UTC)': 'current_period_start_utc',
    'Current Period End (UTC)': 'current_period_end_utc',
    'Coupon': 'coupon',
    'Canceled At (UTC)': 'canceled_at_utc',
    'Ended At (UTC)': 'ended_at_utc'
})

# Conectar ao banco de dados SQLite
db_path = 'Experimentai.db'
conn = sqlite3.connect(db_path)
cursor = conn.cursor()

# Criar tabelas no banco de dados
cursor.execute('''
CREATE TABLE IF NOT EXISTS dim_demografico_assinantes (
    id_demografico_assinantes INTEGER PRIMARY KEY,
    customer_id TEXT,
    customer_email TEXT,
    plan TEXT,
    quantity INTEGER,
    interval TEXT,
    start_date_utc TEXT,
    status TEXT
);
''')

cursor.execute('''
CREATE TABLE IF NOT EXISTS fato_assinantes (
    id_fato_assinantes INTEGER PRIMARY KEY,
    id_demografico_assinantes INTEGER,
    amount REAL,
    created_utc TEXT,
    current_period_start_utc TEXT,
    current_period_end_utc TEXT,
    coupon TEXT,
    canceled_at_utc TEXT,
    ended_at_utc TEXT,
    FOREIGN KEY(id_demografico_assinantes) REFERENCES dim_demografico_assinantes(id_demografico_assinantes)
);
''')

# Verificar e corrigir duplicatas na tabela dimensão
if dim_demografico_assinantes['id_demografico_assinantes'].duplicated().sum() > 0:
    dim_demografico_assinantes = dim_demografico_assinantes.drop_duplicates(subset=['id_demografico_assinantes'])

# Sincronizar IDs para evitar inconsistências
dim_demografico_assinantes['id_demografico_assinantes'] = range(1, len(dim_demografico_assinantes) + 1)
fato_assinantes['id_fato_assinantes'] = range(1, len(fato_assinantes) + 1)

# Inserir os dados nas tabelas
dim_demografico_assinantes.to_sql('dim_demografico_assinantes', conn, if_exists='replace', index=False)
fato_assinantes.to_sql('fato_assinantes', conn, if_exists='replace', index=False)

# Fechar a conexão com o banco de dados
conn.commit()
conn.close()

print("Tabelas dim_demografico_assinantes e fato_assinantes criadas e populadas com sucesso!")

Tabelas dim_demografico_assinantes e fato_assinantes criadas e populadas com sucesso!

In [412]:
# Criar IDs únicos diretamente na tabela original
dim_unified_customers['id_unified'] = range(1, len(dim_unified_customers) + 1)
dim_pagamentos['id_pagamento'] = range(1, len(dim_pagamentos) + 1)
dim_coupons['id_cupom'] = range(1, len(dim_coupons) + 1)

# Conectar ao banco de dados SQLite
db_path = 'Experimentai.db'
conn = sqlite3.connect(db_path)
cursor = conn.cursor()

# Criar tabelas independentes no banco de dados
# dim_unified_customers
cursor.execute('''
CREATE TABLE IF NOT EXISTS dim_unified_customers (
    id_unified INTEGER PRIMARY KEY,
    email TEXT,
    plan TEXT,
    status TEXT,
    total_spend REAL,
    payment_count INTEGER,
    refunded_volume REAL
);
''')

# dim_pagamentos
cursor.execute('''
CREATE TABLE IF NOT EXISTS dim_pagamentos (
    id_pagamento INTEGER PRIMARY KEY,
    created_date_utc TEXT,
    amount REAL,
    amount_refunded REAL,
    status TEXT,
    shipping_address_city TEXT,
    shipping_address_state TEXT
);
''')

# dim_coupons
cursor.execute('''
CREATE TABLE IF NOT EXISTS dim_coupons (
    id_cupom INTEGER PRIMARY KEY,
    valid TEXT,
    duration TEXT,
    percent_off REAL,
    amount_off REAL
);
''')

# Inserir os dados nas tabelas independentes
dim_unified_customers.to_sql('dim_unified_customers', conn, if_exists='replace', index=False)
dim_pagamentos.to_sql('dim_pagamentos', conn, if_exists='replace', index=False)
dim_coupons.to_sql('dim_coupons', conn, if_exists='replace', index=False)

# Fechar a conexão com o banco de dados
conn.commit()
conn.close()

print("Tabelas independentes criadas e populadas com sucesso!")

/var/folders/cl/r3_tlbnx4rj_mp_b2b1gc4f40000gn/T/ipykernel_70401/3679389111.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dim_unified_customers['id_unified'] = range(1, len(dim_unified_customers) + 1)
/var/folders/cl/r3_tlbnx4rj_mp_b2b1gc4f40000gn/T/ipykernel_70401/3679389111.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dim_pagamentos['id_pagamento'] = range(1, len(dim_pagamentos) + 1)
/var/folders/cl/r3_tlbnx4rj_mp_b2b1gc4f40000gn/T/ipykernel_70401/3679389111.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dim_coupons['id_cupom'] = range(1, len(dim_coupons) + 1)

Tabelas independentes criadas e populadas com sucesso!